<%- include('./includes/header.ejs') %> 


    <div class="container-fluid py-5 px-0 bg-dark">
        <div class="row mx-0 align-items-center" >
            <div class="col-lg-6 px-md-5 text-lg-left text-white">
                <h1 class="display-2 fw-bold text-uppercase mb-3">We are <span class="text-success">Result Oriented </span>Agency</h1>
                <p class=" mb-4 text-white">Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed sit.
                    Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed ipsum at ipsum nonumy amet. Clita
                    lorem dolore sed stet et est justo dolore.</p>
                <a href="" class="btn btn-primary btn  text-uppercase mt-1 py-3 px-5">Learn More</a>
            </div>
            <div class="col-lg-6 px-0 text-right case-banner-right">
                <img class="img-fluid mt-5 mt-lg-0" src="images/header.png" alt="">
            </div>
        </div>
    </div>

    <div class="container-fluid pt-5">
        <div class="container text-center pt-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <h1 class=" mb-4 fw-bold">Empowering businesses and eCommerce stores since 2016</h1>
                    <h5 class=" ">A full-service web design and digital marketing company specializing in web development, SEO, and PPC to grow your revenue.<strong>Guaranteed.</strong>  </p>
                </div>
            </div>
        </div>
    </div>


    <div class="custom-container-fluid text-white  what-you-get">
        <div class="custom-container p-3 p-md-0">
        <div class="row justify-content-evenly text-dark">
          <div class="col-md-5 text-center">
            <h3 class="fw-bold heading ">Reap the benefits of an entire digital marketing team <span class="text-success"> without the high-cost </span>and burdens of building a team internally.</h3>
            <img src="https://comradeweb.com/wp-content/uploads/2022/02/branch.png" class="mt-5 img-fluid" alt="">
          </div>
          <div class="col-md-5 ">
              <p class="mb-5">We believe in transparency and accountability. That’s why we only engage new clients if we can verify (with data) that we’ll be able to deliver real results. After all, if we were looking to hire a marketing partner, we’d want the same level of assuredness.</p>
              <div class="mt-5">
                <img src="https://comradeweb.com/wp-content/uploads/2022/02/dedicated.svg" alt="">
                <h2 class="text-success heading mt-2">Dedicated Teams</h2>
                <p>From search engine optimization experts to highly skilled copywriters, editors, web designers, and developers, our team is comprised of a truly inspired group of professionals dedicated to their craft.</p>
              </div>
              <div class="mt-5">
                <img src="https://comradeweb.com/wp-content/uploads/2022/02/roi.svg" alt="">
                <h2 class="text-success heading mt-2">Driven by ROI</h2>
                <p>If your business does not tangibly benefit from our services, then simply put, we haven't done our job. That's why all aspects of our marketing projects are data-driven, transparent, and measurable.</p>
              </div>
          </div>
        </div>
      </div>
      </div>


      <div class="container my-5">
        <div class="col-md-9 col-10 mx-auto text-center mb-5">
          <h1 class="">Our Work Speaks for itself and that's why more than <strong class="text-success"> 100+ People </strong> trust us</h1>
           </div>
        <div class="row " data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p> id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                  <p class="blockquote-footer">Qasim</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet conquis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicre nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sd nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem assumenda iusto, animi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsunihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem assumenda iusto, animi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>mi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem assumenda iusto, animi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Loremenim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem assumenda iusto, animi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 mt-4 ">
                <div class="card p-5 rounded border border-dark ">
                  <p>Lorem ianimi enim id nulla iure nihil dicta asperiores quam dolorum ullam quisquam harum modi expedita obcaecati quis est doloremque?</p>
                </div>
            </div>
         
        </div>
      </div>

      

      <div class="custom-container-fluid my-5 cta-form">
        <div class="container p-3 p-md-0">
          <div class="row justify-content-around bg-dark align-items-center p-4 ">
            <div class="col-md-5 p-3 p-md-5">
             <span class="text-white">Stll Confused?</span>
              <h2 class="text-success fw-bold mt-4">AVERAGE CLIENTS SEE A <span class="text-white">4.5X </span>ROI </h2>
              <p class="text-white">We promise the results.</p>
                <ul class="text-white my-4" style="list-style: disc">
                  <li>Dramatically improve ROI</li>
                  <li>Outperform the competition</li>
                  <li>Improve conversions</li>
                  <li>Reduce cost per acquisition</li>
                </ul>
                <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa placeat, hic consequatur velit reprehenderit possimus, tempore quod, quae amet sapiente dolore quidem dolorem magni id sit debitis in molestiae error!</p>
            </div>
            <div class="col-md-5  p-3 p-md-5 mt-md-0 text-center text-white">
              <h1 class="fw-bold heading text-success">Contact Us</h1>
              <p>We are more than happy to help you</p>
              <form action=""  >
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Name *">
                  </div>
                  <div class="mb-3">
                    <input type="email" class="form-control" placeholder="Email *">
                  </div>
                  <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Phone *">
                  </div>
                  <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Website">
                  </div>
                  <div class="mb-3">
                    <select name="" id="" class="form-select">
                     <option value="" disabled selected>How can we help you?</option>
                     <option value="">Need more visitors, leads and/or sales</option>
                    <option value="">Need to redesign current webstie</option>
                    <option value="">Need to design and build a new website/app</option>
                    <option value="">Need to create branding</option>
                    <option value="">Other</option>
                   </select>
                  </div>
                  <div>
                    <textarea name="" id="" cols="30" rows="3" placeholder="Please, tell us a little about your project"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    












  <!-- ========= CASE STUDY SLIDER ========= -->




  <%- include('./includes/footer.ejs') %> 