<%- include('./includes/header.ejs') %> 


  <div class="process_banner">
    <div class="process_banner-container">
      <div class="process_banner-wrap justify-content-center">
          <div class="process_banner_colum-50 text-center text-white">
            <h3 class="display-4  text-center ">YES,<br> We do 
              <span class="text-success fw-bold">Magic   </span> for our Clients.</h3>
              Become one of our friends and get the ball rolling today.
              <p></p>
            <div class="btn-container-header m-auto mt-3">
              <a href="" class="">
                <h5 class="heading-111">
                    <div class="arrow">
                      <i class="fa fa-arrow-circle-down "></i>
                    </div>  
                  See Bellow 
                </h5>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>


  <div class="container my-5 p-5 p-md-0">
    <div class="row justify-content-center gap-5  my-5">
        <div class="col-md-5 case-study  p-0">
          <div class="case-study-box">
              <img src="images/casestudy1.webp" alt="">
          </div>
          <div class="case-study-desc text-white">
            <h2 class="fw-bold text-success"> EVFUEL Electric Charger</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem doloremque ea fugit assumenda debitis alias voluptatibus earum totam minus. Nulla placeat quidem accusantium impedit laborum nobis deleniti totam enim?</p>
              <a href="/casestudydetail" class="text-success text-underline ">Read More <i class="fas fa-arrow-right ms-1 "></i></a>
          </div>
          <div class="socail-overlay-box-case-study text-center text-white">
            <div class="small-circle-case-study m-auto">
              <div class="data ">
                <h2 class="text-success heading pt-3-0 m-0">71.3%</h2>
                <p class=" p-0 m-0">Increase in Sales</p>
              </div>
            </div>
           </div>
        </div>
        <div class="col-md-5 case-study  p-0">
          <div class="case-study-box">
              <img src="images/casestudy2.webp" alt="">
          </div>
          <div class="case-study-desc text-white">
            <h2 class="fw-bold text-success"> EVFUEL Electric Charger</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem doloremque ea fugit assumenda debitis alias voluptatibus earum totam minus. Nulla placeat quidem accusantium impedit laborum nobis deleniti totam enim?</p>
              <a href="" class="text-success text-underline ">Read More <i class="fas fa-arrow-right ms-1 "></i></a>
          </div>
          <div class="socail-overlay-box-case-study text-center text-white">
            <div class="small-circle-case-study m-auto">
              <div class="data ">
                <h2 class="text-success heading pt-3-0 m-0">71.3%</h2>
                <p class=" p-0 m-0">Increase in Sales</p>
              </div>
            </div>
           </div>
        </div>
        <div class="col-md-5 case-study  p-0">
          <div class="case-study-box">
              <img src="images/casestudy2.webp" alt="">
          </div>
          <div class="case-study-desc text-white">
            <h2 class="fw-bold text-success"> EVFUEL Electric Charger</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem doloremque ea fugit assumenda debitis alias voluptatibus earum totam minus. Nulla placeat quidem accusantium impedit laborum nobis deleniti totam enim?</p>
              <a href="" class="text-success text-underline ">Read More <i class="fas fa-arrow-right ms-1 "></i></a>
          </div>
          <div class="socail-overlay-box-case-study text-center text-white">
            <div class="small-circle-case-study m-auto">
              <div class="data ">
                <h2 class="text-success heading pt-3-0 m-0">71.3%</h2>
                <p class=" p-0 m-0">Increase in Sales</p>
              </div>
            </div>
           </div>
        </div>
        <div class="col-md-5 case-study  p-0">
          <div class="case-study-box">
              <img src="images/casestudy2.webp" alt="">
          </div>
          <div class="case-study-desc text-white">
            <h2 class="fw-bold text-success"> EVFUEL Electric Charger</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem doloremque ea fugit assumenda debitis alias voluptatibus earum totam minus. Nulla placeat quidem accusantium impedit laborum nobis deleniti totam enim?</p>
              <a href="" class="text-success text-underline ">Read More <i class="fas fa-arrow-right ms-1 "></i></a>
          </div>
          <div class="socail-overlay-box-case-study text-center text-white">
            <div class="small-circle-case-study m-auto">
              <div class="data ">
                <h2 class="text-success heading pt-3-0 m-0">71.3%</h2>
                <p class=" p-0 m-0">Increase in Sales</p>
              </div>
            </div>
           </div>
        </div>
        <div class="col-md-5 case-study  p-0">
          <div class="case-study-box">
              <img src="images/casestudy2.webp" alt="">
          </div>
          <div class="case-study-desc text-white">
            <h2 class="fw-bold text-success"> EVFUEL Electric Charger</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis rem doloremque ea fugit assumenda debitis alias voluptatibus earum totam minus. Nulla placeat quidem accusantium impedit laborum nobis deleniti totam enim?</p>
              <a href="" class="text-success text-underline ">Read More <i class="fas fa-arrow-right ms-1 "></i></a>
          </div>
          <div class="socail-overlay-box-case-study text-center text-white">
            <div class="small-circle-case-study m-auto">
              <div class="data ">
                <h2 class="text-success heading pt-3-0 m-0">71.3%</h2>
                <p class=" p-0 m-0">Increase in Sales</p>
              </div>
            </div>
           </div>
        </div>
    </div>
  </div>






<%- include('./includes/footer.ejs') %>