
<%- include('./includes/header.ejs') %>


<main>


        
  <div class="video-background">
    <video class="video-bg" loop="" muted="" autoplay="" playsinline="" style="opacity:0.5;">
      <source src="https://kingkong.co/au/wp-content/uploads/sites/3/2021/05/hero-bg-video-2021.mp4" type="video/mp4">
    </video>
    <div class="video-header-content">
      <div class="col-md-9 col-10  mx-auto text-center text-white">
        <h2 class="text-white display-4">Growing Business Onine Is Hard.</span> </h2>
        <p class="heading display-3">We make it 3X <br> <span class="display-4 text-success heading"> Simple. Stronger. Smarter. </span>  </p>
        <h1>💸 </h1>
        <input type="text" class="form-control" placeholder="Enter Website to plan your business growth for next 90 days.">
        <button class="btn-primary btn mt-4">Let's See Your Growth </button>
    </div>
    </div>
  </div>



  <div class="container-fluid px-md-0 px-4">

  <div class="row justify-content-center bg-white">
    <div class="col-lg-2 col-4 col- mt-3">
        <img src="images/client1.png" class="img-fluid" loading="lazy" alt="">
    </div>
    <div class="col-lg-2 col-4 mt-3">
        <img src="images/client2.png" class="img-fluid" loading="lazy" alt="">
    </div>
    <div class="col-lg-2 col-4 mt-3">
        <img src="images/client3.png" class="img-fluid" loading="lazy" alt="">
    </div>
    <div class="col-lg-2 col-4 mt-3">
        <img src="images/client4.png" class="img-fluid" loading="lazy" alt="">
    </div>
    <div class="col-lg-2 col-4 mt-3">
        <img src="images/client5.png" class="img-fluid" loading="lazy" alt="">
    </div>
 </div>
</div>

  




  <div class="custom-container-fluid py-5 w-100 about-us">
    <div class="custom-container p-3 p-md-0">
      <div class="row align-items-end w-100 justify-content-between ">
          <div class="col-md-5 mt-3 ">
            <span class="small">About Us</span>
            <h2 class="display-4">Hi,we’re  <br><span class="text-success heading">FunnelHackers</span> </h2>
            <div class=" m-auto">
              <h4 style="line-height: 35px;">A full-service web design and digital marketing company specializing in web development, SEO, and PPC to grow your revenue. <strong> Guaranteed. </strong></h4>
            </div>
          </div>

          <div class="col-md-7 mt-3 ">
            <div class="about-us-image">
              <img src="./images/team (2).jpg" class="rounded" alt="">
            </div>
          </div>
      </div>

    <div class="col-md-10  mt-5">
      <span class="small">We feel proud in </span>
      <h1 class="display-4">Empowering businesses and eCommerce stores since 2016</h1>
    </div>

    <div class="results "> 
        <div class=" img-fluid promise-box  mt-3  bg-light text-center rounded" >
            <strong class="fw-bold  text-success">2.5x</strong>
            <p class="text-dark">Increased in website SEO </p>
        </div>
        <div class=" img-fluid promise-box  mt-3  bg-light text-center rounded" >
            <strong class="fw-bold  text-success">70%</strong>
            <p class="text-dark">SALES QUALIFIED LEADS </p>
        </div>
        <div class=" img-fluid promise-box  mt-3  bg-light text-center rounded" >
            <strong class="fw-bold  text-success">120%</strong>
            <p class="text-dark">INCREASE IN PPC REVENUE</p>
        </div>
        <div class=" img-fluid promise-box  mt-3  bg-light text-center rounded" >
            <strong class="fw-bold  text-success">35%</strong>
            <p class="text-dark">USER CONVERSION RATE </p>
        </div>
    </div>
    </div>
  </div>




    <div class="container-fluid py-5 bg-image" style="background-color:#f4f4f4;" >
      <div class="container pt-5 pb-3">
        <div class="col-md-9 col-10 mx-auto text-center mb-5">
            <h3 class="display-4  text-center ">A Single Agency for all your  
            <span class="text-success fw-bold">Digital Marketing  </span> needs</h3>
            <P class="">With over a decade of successful projects, we continue to provide digital marketing expertise and services that are laser-focused on one primary objective: <strong> to grow your revenue.</strong> </P>
           </div>
            <div class="row justify-content-center text-center">
              <div class="col-lg-3 mb-2">
                  <div class="service-item rounded p-5 mb-4">
                    <div class="service-item-heading">
                      <i class="fa fa-2x fa-eye mb-4"></i>
                      <h4 class="text-uppercase mb-4 fw-bold">Search Engine Optimization</h4>
                    </div>
                      <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr.</p>
                  </div>
              </div>
              
              <div class="col-lg-3 mb-2">
                  <div class="service-item rounded p-5 mb-4">
                    <div class="service-item-heading">
                      <div class="service-item-heading">
                      <i class="fa fa-2x  fa-eye mb-4"></i>
                      <h4 class="text-uppercase mb-4 fw-bold">Social Media Marketing</h4>
                      </div>
                      <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                      </div>
                  </div>
              </div>
            
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                  <div class="service-item-heading">
                  <i class="fa fa-users fa-2x mb-4 fw-bold"></i>
                 
                    <h4 class="text-uppercase mb-4 fw-bold">Custom Website Development</h4>
                    </div>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr.</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
                <div class="service-item rounded p-5 mb-4">
                  <div class="service-item-heading">
                    <i class="fa fa-2x  fa-users mb-4"></i>
                    <h4 class="text-uppercase mb-4 fw-bold">Custom Web Application</h4>
                    </div>
                    <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr</p>
                </div>
            </div>
            <div class="col-lg-3 mb-2">
              <div class="service-item rounded p-5 mb-4">
                <div class="service-item-heading">
                  <i class="fa fa-users fa-2x mb-4"></i>
               
                  <h4 class="text-uppercase mb-4 fw-bold">Pay Per Click ( PPC )</h4>
                  </div>
                  <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr.</p>
              </div>
          </div>
            <div class="col-lg-3 mb-2">
              <div class="service-item rounded p-5 mb-4">
                <div class="service-item-heading">
                  <i class="fa fa-2x fa-eye mb-4"></i>
                  <h4 class="text-uppercase mb-4 fw-bold">Email Marketing</h4>
                  </div>
    
                  <p class="m-0">Vero amet vero eos kasd justo ipsum diam sed elitr.</p>
              </div>
          </div>
            
        </div>
      </div>
    </div>



    <div class="custom-container-fluid text-white bg-dark what-you-get">
      <div class="custom-container p-3 p-md-0">
      <div class="row justify-content-evenly text-white">
        <div class="col-md-5 text-center">
          <h3 class="fw-bold heading ">Reap the benefits of an entire digital marketing team <span class="text-success"> without the high-cost </span>and burdens of building a team internally.</h3>
          <img src="https://comradeweb.com/wp-content/uploads/2022/02/branch.png" class="mt-5 img-fluid" alt="">
        </div>
        <div class="col-md-5 ">
            <p class="mb-5">We believe in transparency and accountability. That’s why we only engage new clients if we can verify (with data) that we’ll be able to deliver real results. After all, if we were looking to hire a marketing partner, we’d want the same level of assuredness.</p>
            <div class="mt-5">
              <img src="https://comradeweb.com/wp-content/uploads/2022/02/dedicated.svg" alt="">
              <h2 class="text-success heading mt-2">Dedicated Teams</h2>
              <p>From search engine optimization experts to highly skilled copywriters, editors, web designers, and developers, our team is comprised of a truly inspired group of professionals dedicated to their craft.</p>
            </div>
            <div class="mt-5">
              <img src="https://comradeweb.com/wp-content/uploads/2022/02/roi.svg" alt="">
              <h2 class="text-success heading mt-2">Driven by ROI</h2>
              <p>If your business does not tangibly benefit from our services, then simply put, we haven't done our job. That's why all aspects of our marketing projects are data-driven, transparent, and measurable.</p>
            </div>
        </div>
      </div>
    </div>
    </div>


    <section class="container-fluid bg-image py-5 ">
      <div class="case-study-wrap ">
        <div class="case-study-heading text-center">
          <div class="col-md-10 m-auto">
            <h1 class="display-4  text-dark text-center">Don't just rely on us<br> <strong class="fw-bold text-success">See Yourself</strong></h1>
            <p class="text-dark "> See how happy they are after getting in touch with us.
            </p>
          </div>
        </div>

        <div class="case-study-slider owl-carousel owl-theme my-5" >
          <div class="case-study-item">

            <video width="100%"   controls >
              <source src="video/web.mp4" type="video/mp4">
              <source src="video/web.mp4" type="video/ogg">
            Your browser does not support the video tag.
            </video>

            <div class="case-study-content">
              <div class="case-study-content_right pl-md-5 px-2">
                  <p class="mb-1 text-yellow">EVFUEL</p>
                  <p>Evfuel is a sweden based electric car charging station business.
                    We raised their business from hardly meeting their expeneses <span class=" fw-bold">  $5000 - $10,000 </span> to making nearly <span class="text-success fw-bold">  $40,000 - $50,000</span> in time span of <span class=" fw-bold">70 days</span> .
                   </p>
              </div>
            </div>
          </div>

          <div class="case-study-item">

            <video width="100%"  controls>
              <source src="video/smm.mp4" type="video/mp4">
              <source src="video/smm.mp4" type="video/ogg">
            Your browser does not support the video tag.
            </video>

            <div class="case-study-content">
              <div class="case-study-content_right pl-md-5 px-2">
                  <p class="mb-1 text-yellow">Elinea is happy in listening now.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas voluptatem sequi eveniet a autem culpa maxime veniam corrupti odit eum?</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  

 



    <section class="custom-container-fluid  bg-dark slider__wraper">
     <div class="custom-container-fluid  pb-5 bg-dark slider__wraper">
      <div class="section-slider text-center">
       <div class="pb-5 pt-5">
        <div class="col-md-9 col-10 mx-auto text-center text-white">
         <h2 class=" display-4 text-white" style="font-weight: 400;">Our Clients  <span class="text-success fw-bold heading"> Get Results</span></h2>
         <p class="text-white">We blend our more than 8 Years of experience  with Your Business Requirements and <br>  Drive Insane Results with Data-Driven Strategies.</p>
         </div>
       </div>
         <div class="section-slider-wrapper owl-carousel owl-theme  text-white">
           <div class="slider-item">
             <figure class="slider-item-wrap">
               <img src="https://s3-eu-west-1.amazonaws.com/storage.quickbutik.com/stores/27202G/pages/elbilsladdning-brf-2-lykfax.jpg">
               <!-- ==== Percentage Circle ==== -->
               <div class="socail-overlay-box">
                <div class="small-circle m-auto">
                  <div class="data pt-3">
                    <h5 class="text-success heading pt-3-0 m-0">71.3%</h5>
                    <small class=" p-0 m-0">Increase in Sales</small>
                  </div>
                </div>
               </div>
               <!-- ==== Case Study  ==== -->
               <div class="socail-overlay">
                <a href="" class="text-white mb-4">Read Case Study  <i class="fas fa-arrow-right text-success ms-md-2"></i> </a>
               </div>
             </figure>
             <div class="slider-item-content">
               <h3 class="heading">EvFuel</h3>
               <span class="small text-success">Website Re-Design + Social Media Marketing</span>
               <p class="description">Evfuel is a sweden based electric cars charging stations business.
                We raised their business from hardly meeting their expeneses <span class=" fw-bold">  $5000 - $10,000 </span> to making nearly <span class="text-success fw-bold">  $40,000 - $50,000</span> in time span of <span class=" fw-bold">70 days</span> .
               </p>
             </div>
           </div>
           
           <div class="slider-item">
            <figure class="slider-item-wrap ">
              <img src="https://cdn.shopify.com/s/files/1/0277/8244/7243/files/IMG_9789_3-min_360x.jpg?v=1614306577">
              <div class="socail-overlay-box">
                <div class="small-circle m-auto">
                  <div class="data pt-4">
                    <h5 class="text-success heading pt-3-0 m-0">57.8%</h5>
                    <small class=" p-0 m-0">Open Rate</small>
                  </div>
                </div>
               </div>
              <div class="socail-overlay">
               <a href="" class="text-white mb-4">Read Case Study  <i class="fas fa-arrow-right text-success ms-md-2"></i> </a>
              </div>
            </figure>
            <div class="slider-item-content">
              <h3 class="heading">Station cold brew</h3>
              <span class="small text-success">Website Re-Design + Social Media Marketing</span>
              <p class="description">Evfuel is a sweden based electric cars charging stations business.
               We raised their business from hardly meeting their expeneses <span class=" fw-bold">  $5000 - $10,000 </span> to making nearly <span class="text-success fw-bold">  $40,000 - $50,000</span> in time span of <span class=" fw-bold">70 days</span> .
              </p>
            </div>
          </div>

         </div>
      </div>
   </div>
</section>

<div class="custom-contianer-fluid why-right-fit ">
<div class="custom-container p-3 p-md-0"> 
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 mt-3">
        <h1 class="">Why FunnelHacker Is <span class="heading text-success">Right Fit</span>   for You</h1>
        <ul class="mt-4">
          <li class="mt-3"> We never take on a new project unless we can document how we’ll deliver results.</li>
          <li class="mt-3"> We analyze our client’s data and forecast how, exactly, our services will facilitate growth.</li>
          <li class="mt-3"> We stand behind our work and are the only internet marketing agency to guarantee results.</li>
          <li class="mt-3"> We are your digital marketing partner and masters of inbound strategy, working hand-in-hand to deliver long term success.</li>
        </ul>
        <div class="grid mt-3">
          <div>
            <h4 class="fw-bold heading">6+</h4>
            <p>Years in business</p>
          </div>
          <div>
            <h4 class="fw-bold heading">200+</h4>
            <p>DESIGN AND MARKETING PROJECTS</p>
          </div>
          <div>
            <h4 class="fw-bold heading">92+</h4>
            <p>CLIENT RETENTION RATE</p>
          </div>
        </div>
    </div>
    <div class="col-md-6 mt-3">
        <img src="https://comradeweb.com/wp-content/uploads/2022/03/Comrade-Team.-768x492.jpg" class="img-fluid rounded"  />
    </div>
  </div>
</div>
</div>


<div class="custom-container-fluid my-5 cta-form">
  <div class="container p-3 p-md-0">
    <div class="row justify-content-around bg-dark align-items-center p-4 ">
      <div class="col-md-5 p-3 p-md-5">
       <span class="text-white">Stll Confused?</span>
        <h2 class="text-success fw-bold mt-4">AVERAGE CLIENTS SEE A <span class="text-white">4.5X </span>ROI </h2>
        <p class="text-white">We promise the results.</p>
          <ul class="text-white my-4" style="list-style: disc">
            <li>Dramatically improve ROI</li>
            <li>Outperform the competition</li>
            <li>Improve conversions</li>
            <li>Reduce cost per acquisition</li>
          </ul>
          <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa placeat, hic consequatur velit reprehenderit possimus, tempore quod, quae amet sapiente dolore quidem dolorem magni id sit debitis in molestiae error!</p>
      </div>
      <div class="col-md-5  p-3 p-md-5 mt-md-0 text-center text-white">
        <h1 class="fw-bold heading text-success">Contact Us</h1>
        <p>We are more than happy to help you</p>
        <form action="/form" name="contact" method="post" role="form" onsubmit="return validateForm()">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Name *" name='name' required/>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Email *" name='email' required/>
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" placeholder="Phone *" name='phone' required/>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Website" name='website' required/>
          </div>
          <div class="mb-3">
            <select id="" class="form-select" name='option' required>
              <option value="" disabled selected>How can we help you?</option>
              <option value="Need Visitors Leads Sales">Need more visitors, leads and/or sales</option>
              <option value="Redesign Website">Need to redesign current webstie</option>
              <option value="New Website">
                Need to design and build a new website/app
              </option>
              <option value="Create Branding">Need to create branding</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div> 
            <textarea
              name="description"
              id=""
              cols="30"
              rows="3"
              placeholder="Please, tell us a little about your project" required
            ></textarea>
          </div>
          <button type="submit" value="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>




</main>



















<%- include('./includes/footer.ejs') %>