<%- include('./includes/header.ejs') %> 


<div class="process_banner">
    <div class="process_banner-container">
      <div class="process_banner-wrap justify-content-center">
          <div class="process_banner_colum-50 text-center text-white">
            <h3 class="display-4  text-center ">Our 
              <span class="text-success fw-bold">Proud </span> Work</h3>
              From hot coffee and sneakers to healthcare and spaceships. <br>We’ve helped brands of all kinds and businesses of every size to grow their online revenue.
              <p></p>
            <div class="btn-container-header m-auto mt-3">
              <a href="" class="">
                <h5 class="heading-111">
                    <div class="arrow">
                      <i class="fa fa-arrow-circle-down "></i>
                    </div>  
                  See Bellow 
                </h5>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>



    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/andreas.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/evfuel.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full-portfolio.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/getcredit.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/portfolio.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/pro.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/grow.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full3.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full3.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full3.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full3.png" class="img-fluid" alt="">
          </div>
        </div> 
        <div class="col-md-6 col-lg-4 my-2 order-1 relative mt-3">
          <div class="portfolio-img-side  window">
                <img src="images/full3.png" class="img-fluid" alt="">
          </div>
        </div> 
      </div>
    </div>
     

      <!-- ========== FAQS ================== -->
      <div class="section-faq padding-4s">
        <div class="col-md-5 m-auto text-center">
          <h1 class="faq-heading">We are more than<span class="text-success"> Happy </span>to answer your questions.</h1>
        </div>
        <div class="faq-wrap">
          <div class="accordion">
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false">
                        <span class="accordion-title">
                            Vad är en laddbox?
                        </span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                En laddbox är utvecklad för laddning av elbilar och laddhybrider. Med hjälp av laddboxen blir laddningen både säkrare och snabbare jämfört med om du skulle ladda din bil i ett vanligt vägguttag.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false">
                        <span class="accordion-title">
                            Varför behövs en laddbox?
                        </span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Du kan ladda med högre effekt vilket innebär snabbare laddning jämfört med ett vanligt vägguttag.

                                En laddbox är även säkrare eftersom den kan undvika överhettning (i värsta fall brand) då laddboxen själv kan kommunicera eventuella fel och stoppa laddningen.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false">
                        <span class="accordion-title">
                            Hur installerar man en laddbox?
                        </span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                För att uppfylla kraven för installation måste installationen göras av en certifierad elektriker, vilket vi erbjuder i samband med köp av laddbox från vi. För en säker installation måste laddboxen skyddas av en separat säkring och en egen jordfelsbrytare vilket också ingår i installationen.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-4" aria-expanded="false">
                        <span class="accordion-title">Kan man få bidrag för installation av laddbox?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Ja, den 1 januari 2021 ersattes "ladda-hemma-stödet" med ett avdrag för grön teknik. Som fastighetsägare, eller om du innehar nyttjanderätt, har du rätt till 50 % bidrag på laddbox och installation (max 50 000 kr per år). Skattereduktionen för grön teknik liknar ROT-avdraget vilket betyder att  debiterar dig halva kostnaden vid köp av laddbox och installation.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <button id="accordion-button-5" aria-expanded="false">
                        <span class="accordion-title">Hur mycket kostar det att installera en laddbox?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Kostnaden för att installera en laddbox varierar beroende på förutsättningarna. I regel kostar en laddbox mellan 14 000 kr till 20 000 kr. Ansök gärna om en offert nedan så hjälper vi dig att anpassa en lösning efter dina behov och rekommenderar antingen en 11 kW eller 22 kW laddbox.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <button id="accordion-button-6" aria-expanded="false">
                        <span class="accordion-title">Är laddboxen kompatibel med alla elbilar?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Laddboxen vi erbjuder är europeisk standard (typ 2) och fungerar till alla elbilar som har denna standard. Laddboxen har en dynamisk laddning och kan ladda mellan 1.4-22 kW i både 1 och 3 fas.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- --- -->
                <div class="accordion-item">
                    <button id="accordion-button-7" aria-expanded="false">
                        <span class="accordion-title">Vad är skillnaden på enfas och trefas laddning?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Dagens bilar kan oftas laddas med både enfas och trefas. Skillnaden är att trefasladdning delar upp strömmen i 3 olika ledare istället för en vilket resulterar i att man med trefas kan få ungefär 3 gånger med ström än enfasladdning.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- ---- -->
                <div class="accordion-item">
                    <button id="accordion-button-8" aria-expanded="false">
                        <span class="accordion-title">Vad är skillnaden på Typ 1 och Typ 2?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                EU-Standard för både laddstation och bilens uttag är Typ 2, vilket de flesta biltillverkarna idag använder. Typ 1 är vanligt i Asien.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ---  -->

                <div class="accordion-item">
                    <button id="accordion-button-9" aria-expanded="false">
                        <span class="accordion-title">Kan man ladda flera elbilar?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Laddboxen kan användas av flera bilar vid olika tillfällen. Laddboxen Easee, som vi erbjuder kan man installera 3 stycken i rad. Om man önskar installera fler än 3 behöver man addera en dynamisk lastbalanserare, ett system som känner av belastningen på ditt elsystem så att huvudsäkringen inte går av.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- ----  -->

                <div class="accordion-item">
                    <button id="accordion-button-10" aria-expanded="false">
                        <span class="accordion-title">Erbjuder ni laddbox för BRF inklusive betalningslösning?</span>
                        <span class="icon" aria-hidden="true">
                            <svg fill="#fff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 455 455"
                                style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <polygon points="455,212.5 242.5,212.5 242.5,0 212.5,0 212.5,212.5 0,212.5 0,242.5 212.5,242.5 212.5,455 242.5,455 242.5,242.5 
                        455,242.5 " />
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                            </svg>
                        </span>
                    </button>
                    <div class="accordion-content">
                        <div class="faq-content-wrap">
                            <p>
                                Vi erbjuder laddboxar till bostadsrättsföreningar. Laddboxen har ett RFID system som fungerar som en nyckel för laddningen. Den kontrollerar hur mycket som laddas per nyckel. Detta registreras sedan i ett system som kan användas för att distribuera fakturor till medlemmarna för elanvändningen.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="custom-container-fluid my-5 cta-form">
      <div class="container p-3 p-md-0">
        <div class="row justify-content-around bg-dark align-items-center p-4 ">
          <div class="col-md-5 p-3 p-md-5">
           <span class="text-white">Stll Confused?</span>
            <h2 class="text-success fw-bold mt-4">AVERAGE CLIENTS SEE A <span class="text-white">4.5X </span>ROI </h2>
            <p class="text-white">We promise the results.</p>
              <ul class="text-white my-4" style="list-style: disc">
                <li>Dramatically improve ROI</li>
                <li>Outperform the competition</li>
                <li>Improve conversions</li>
                <li>Reduce cost per acquisition</li>
              </ul>
              <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa placeat, hic consequatur velit reprehenderit possimus, tempore quod, quae amet sapiente dolore quidem dolorem magni id sit debitis in molestiae error!</p>
          </div>
          <div class="col-md-5  p-3 p-md-5 mt-md-0 text-center text-white">
            <h1 class="fw-bold heading text-success">Contact Us</h1>
            <p>We are more than happy to help you</p>
            <form action=""  >
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Name *">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Email *">
                </div>
                <div class="mb-3">
                  <input type="number" class="form-control" placeholder="Phone *">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Website">
                </div>
                <div class="mb-3">
                  <select name="" id="" class="form-select">
                   <option value="" disabled selected>How can we help you?</option>
                   <option value="">Need more visitors, leads and/or sales</option>
                  <option value="">Need to redesign current webstie</option>
                  <option value="">Need to design and build a new website/app</option>
                  <option value="">Need to create branding</option>
                  <option value="">Other</option>
                 </select>
                </div>
                <div>
                  <textarea name="" id="" cols="30" rows="3" placeholder="Please, tell us a little about your project"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>










    <script>
      const items = document.querySelectorAll(".accordion button");
  
      function toggleAccordion() {
          const itemToggle = this.getAttribute("aria-expanded");
  
          for (i = 0; i < items.length; i++) {
              items[i].setAttribute("aria-expanded", "false");
          }
  
          if (itemToggle == "false") {
              this.setAttribute("aria-expanded", "true");
          }
      }
      items.forEach((item) => item.addEventListener("click", toggleAccordion));
  
  </script>
  
    <%- include('./includes/footer.ejs') %> 