<%- include('./includes/header.ejs') %> 


<div class="container">
    <div class="success-page">

    <div class="success-box p-5 text-center">
        <p>Thank You <strong><%=Username%></strong> .</p>
        <h3 class="display-4  text-center ">Your message is received 
        <span class="text-success fw-bold">Successfuly ! </span></h3>
        <p>We will contact you shortly...</p>

    </div>
    <p class="my-4" ><a href="/casestudydetail"> <u> See how <span class="fw-bold">SixFigureSark</span>   helped <span class="fw-bold">EvFuel</span> Grow from <strong>4</strong>  figure to <strong>6</strong> Figure in 3 Months. </u</a> </p>

</div>
</div>















  
<%- include('./includes/footer.ejs') %> 